.wrapper{
  padding: 20px;
  border-radius: 6px;  
  width: 50px;
  color: #fff;
  background: blue;
}

.wrapper.wrapper-red{
    background: red;
}

.wrapper.wrapper-green{
    background: green;
}



.container{
    display: flex;
    vertical-align: middle;
    margin: 50px auto;
    width: 300px;
}

.container button{
    font-size: 20px;
    background: none;
    outline: none;
    cursor: pointer;
}